<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Danh sách đập
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'add-congtrinh-thuyloi']">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" [(ngModel)]="query" (ionChange)=search_filter()></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{notifi}} -->
  <ion-list>
    <span *ngFor="let item of dap_hientrang_point2" [routerLink]="['/', 'list-congtrinh-thuyloi', item.id]">
      <ion-item button>
        <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
        <ion-icon name="arrow-dropright" slot="start"></ion-icon>
        {{item.ten_dap}}
        <div class="item-note" slot="end">
          {{item.ma_loai}}
        </div>
      </ion-item>
  </span>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/', 'add-congtrinh-thuyloi']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
