<ion-header>
    <!-- <ion-toolbar color="primary"> -->
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="list-congtrinh-thuyloi"></ion-back-button>
      </ion-buttons>
      <ion-title>Chi tiết công trình</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="go2page('map')">
          <ion-icon name="map"></ion-icon>
        </ion-button>
        <ion-button (click)="go2page('hinhanh-congtrinh/congtrinh_dap/999')">
          <ion-icon name="images"></ion-icon>
        </ion-button>
        <ion-button (click)="delete()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="ion-padding">
    <!-- {{congtrinh_dapId}} -->
    <div *ngIf="dap_hientrang_point">
      <ion-input hidden [(ngModel)]="dap_hientrang_point.id" placeholder="ID"></ion-input>
      <ion-item>
        <ion-label position="stacked">Tên đập</ion-label>
        <ion-input [(ngModel)]="dap_hientrang_point.ten_dap" placeholder="Tên đập"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Mã loại</ion-label>
        <ion-input [(ngModel)]="dap_hientrang_point.ma_loai" placeholder="Mã loại"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Lon</ion-label>
        <ion-input [(ngModel)]="dap_hientrang_point.x" placeholder="Lon"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Lat</ion-label>
        <ion-input [(ngModel)]="dap_hientrang_point.y" placeholder="Lat"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Well-known text</ion-label>
        <ion-input [(ngModel)]="dap_hientrang_point.wkt" placeholder="Well-known text"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="stacked">Hình ảnh</ion-label>
        <ion-input [(ngModel)]="developer.img" placeholder="https://..."></ion-input>
      </ion-item> -->
      <!-- <ion-button expand="block" (click)="update_table()">Cập nhật thông tin</ion-button> -->
    </div>

    <!-- <ion-card class="welcome-card" *ngIf="firstphoto"> -->
    <ion-card class="welcome-card" (click)="go2page('hinhanh-congtrinh/congtrinh_dap/999')">
      <!-- <img src="/assets/shapes.svg" alt="" /> -->
      <!-- <ion-img [src]="firstphoto"></ion-img> -->
      <!-- <ion-img [src]="photoService.photos[0].data"></ion-img> -->
      <!-- <ion-img *ngIf="photoService.photos; else defaul_img" [src]="photoService.photos[0].data"></ion-img>
      <img #defaul_img src="/assets/img/noimg.png" alt="" /> -->
      <ion-img *ngIf="photoService.photos.length != 0" [src]="photoService.photos[0].data"></ion-img>
      <ion-img *ngIf="photoService.photos.length == 0" src="/assets/img/noimg.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle *ngIf="photoService.photos.length != 0">Còn 8 hình nữa.</ion-card-subtitle>
        <ion-card-subtitle *ngIf="photoService.photos.length == 0">Chọn hình ảnh</ion-card-subtitle>
        <!-- <ion-card-title>Welcome to Ionic</ion-card-title> -->
      </ion-card-header>
      <!-- <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content> -->
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button fill="clear" expand="full" color="light" (click)="update_table()">Cập nhật thông tin</ion-button>
    </ion-toolbar>
  </ion-footer>