<ion-header>
  <ion-toolbar text-center>
    <ion-title>{{modalTitle}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="getLocation()"> -->
      <ion-button (click)="zoom2current_location()">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map" style="height:100%;"></div>

  <!-- <ion-grid>
    <ion-row>
      <ion-col text-center>
        ID : {{modelId}}
      </ion-col>
      <ion-col text-center>
        gps_lon : {{gps_lon}}
      </ion-col>
      <ion-col text-center>
        gps_lat : {{gps_lat}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Close Modal</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="t1()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="closeModal()">Lưu tọa độ</ion-button>
  </ion-toolbar>
</ion-footer>