<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Danh sách cống
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-searchbar debounce="500" [(ngModel)]="query"></ion-searchbar> -->
    <ion-searchbar debounce="500" [(ngModel)]="query" (ionChange)=search_filter()></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{notifi}} -->
  <ion-list>
    <span *ngFor="let item of cong_hientrang_point2" [routerLink]="['/', 'list-cong-hientrang-point', item.id]">
      <!-- <ion-item button *ngIf="ishow(item)"> -->
      <ion-item button>
        <ion-icon name="arrow-dropright" slot="start"></ion-icon>
        {{item.ghichu_ten}}
        <div class="item-note" slot="end">
          {{item.maso_cong}}
        </div>
      </ion-item>
  </span>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/', 'add-cong-hientrang-point']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
