<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list-cong-hientrang-point"></ion-back-button>
    </ion-buttons>
    <ion-title>Chi tiết cống</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="db.go2page('map')">
        <ion-icon name="map"></ion-icon>
      </ion-button>
      <ion-button (click)="db.go2page('hinhanh-congtrinh/cong_hientrang_point/'+fid)">
        <ion-icon name="images"></ion-icon>
      </ion-button> -->
      <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="cong_hientrang_point">
    <ion-input hidden [(ngModel)]="cong_hientrang_point.id" placeholder="ID"></ion-input>
    <ion-item>
      <ion-label position="stacked">Tên cống</ion-label>
      <ion-input [(ngModel)]="cong_hientrang_point.ghichu_ten" placeholder="Tên cống"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Mã số</ion-label>
      <ion-input [(ngModel)]="cong_hientrang_point.maso_cong" placeholder="Mã số"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ghi chú kiểm tra</ion-label>
      <ion-input [(ngModel)]="cong_hientrang_point.ghichu_kiemtra" placeholder="Ghi chú kiểm tra"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Lon</ion-label>
      <ion-input [(ngModel)]="cong_hientrang_point.x" placeholder="Lon"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Lat</ion-label>
      <ion-input [(ngModel)]="cong_hientrang_point.y" placeholder="Lat"></ion-input>
    </ion-item>
    
    <!-- <ion-item>
      <ion-label position="stacked">Well-known text</ion-label>
      <ion-input [(ngModel)]="cong_hientrang_point.wkt" placeholder="Well-known text"></ion-input>
    </ion-item> -->
  </div>

  
  <!-- <p *ngIf="dataReturned">{{dataReturned}}</p> -->

  <!-- Vi tri -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Vị trí <span *ngIf="locationCoords.accuracy">(Acc: {{locationCoords.accuracy/2}})</span></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>      
      <ion-item button (click)="checkGPSPermission()">
        <ion-icon name="locate" slot="start"></ion-icon>
        <ion-label>Lấy tọa độ vị trí</ion-label>
      </ion-item>
      <ion-item button (click)="openModal()">
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label>Mở bản đồ</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- {{fid}} -->
  <ion-card class="welcome-card" (click)="db.go2page('hinhanh-congtrinh/cong_hientrang_point/'+fid)">
    <ion-img *ngIf="imgarr_len != 0" [src]="first_img"></ion-img>
    <ion-img *ngIf="imgarr_len == 0" src="/assets/img/noimg.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle *ngIf="imgarr_len != 0">{{img_takedate}} | Còn {{imgarr_len-1}} hình nữa.</ion-card-subtitle>
      <ion-card-subtitle *ngIf="imgarr_len == 0">Chọn hình ảnh</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="update_table()">Cập nhật thông tin</ion-button>
  </ion-toolbar>
</ion-footer>