<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bến Tre - Công trình thủy lợi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-card">
    <img src="/assets/img/dapnuoc.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Truy cập nhanh</ion-card-subtitle>
      <ion-card-title>Công trình đập</ion-card-title>
    </ion-card-header>
    <ion-card-content>      
      <ion-item button (click)="db.go2page('list-congtrinh-thuyloi')">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Danh sách đập</ion-label>
        <ion-button fill="outline" slot="end">Xem</ion-button>
      </ion-item>
      <ion-item button (click)="db.go2page('add-congtrinh-thuyloi')">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        <ion-label>Thêm đập</ion-label>
        <ion-button fill="outline" slot="end">Thêm</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
      <img src="/assets/img/congnuoc.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Truy cập nhanh</ion-card-subtitle>
        <ion-card-title>Công trình cống</ion-card-title>
      </ion-card-header>
      <ion-card-content>      
        <ion-item button (click)="db.go2page('list-congtrinh-thuyloi')">
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>Danh sách cống</ion-label>
          <ion-button fill="outline" slot="end">Xem</ion-button>
        </ion-item>
        <ion-item button (click)="db.go2page('add-congtrinh-thuyloi')">
          <ion-icon name="add-circle" slot="start"></ion-icon>
          <ion-label>Thêm cống</ion-label>
          <ion-button fill="outline" slot="end">Thêm</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>
 
